/* Write your code here. */

.list-item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
  width: 70%;
  border-radius: 10px;
  border-style: solid;
  border-color: #d7dae6;
  padding: 10px;
}

.question-text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.question {
  font-family: 'roboto';
  font-weight: 800;
  font-size: 20px;
  color: #52606d;
}

.control-button {
  border-style: none;
  background-color: transparent;
}
